
<div id="mainNavigation">
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center ">
      <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
      </button>
    </div>
    <div class="text-center py-3 collapse navbar-collapse border-bottom" id="navbarNavDropdown">
          <a class= "logo" href="/">
          <%= image_tag "WaveShareLogoRounded.png", class: "avatar"%>
          </a>
      <ul class="navbar-nav mx-auto " >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/beaches">Beaches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
      </ul>


      <% if user_signed_in? %>
        <li class="dropdown">
          <div class="basic-button " id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars menu-icon"></i>
            <% if current_user.profile.photo.key %>
              <%= cl_image_tag current_user.profile.photo.key, class: "button-avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag "default-photo.webp", class: "button-avatar", alt: "dropdown menu" %>
            <% end %>
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <% if current_user.profile %>
              <%= link_to "Profile", edit_profile_path(current_user.profile.id), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li>
          <div class="basic-button">
            <%= link_to "Login", new_user_session_path, class: "nav-link login-text" %>
          </div>
        </li>
      <% end %>
    </div>
  </div>

</div>


<%# -----------------------JAVASCRIPT FOR SCROLL COLOR CHANGE---------------------
--------------------------------------------------------------------------------- %>
<script>
    // Function to apply the scroll effect
    function applyScrollEffect() {
      const navbar = document.getElementById("mainNavigation");
      const navLinks = navbar.getElementsByTagName("a");
      const navbarbg = document.getElementById("navbarNavDropdown")
      const navbarul = document.getElementById("navbarDropdownMenuLink");

      if (window.scrollY > 0) {
        navbarbg.style.backgroundColor = "#205374";
        navbarbg.style.boxShadow = "0px 0px 10px rgba(255, 200, 58, 0.5)";
        navbarul.style.color = "#ffc83a";

        for (var i = 0; i < navLinks.length; i++) {
          navLinks[i].style.color = "#ffc83a";
          // navLinks[i].style.fontSize = "18px";
        }
      } else {
        navbar.style.fontSize = "16px";
        navbarbg.style.backgroundColor = "";
        navbarbg.style.boxShadow = "";
        navbarul.style.color = "";

        for (var i = 0; i < navLinks.length; i++) {
          navLinks[i].style.color = "";
          navLinks[i].style.fontSize = ""
          navLinks[i].style.backgroundColor = "";

        }
      }
    }

    // Attach scroll event listener to the window
    window.addEventListener("scroll", applyScrollEffect);

</script>
