<div>image</div>
<div>Title: name of event</div>
<div>description</div>
<div>address</div>
<div>event info</div>
<div>event details</div>
<div>attendees</div>

<div class="container">
  <div class="event-details">
    <div class="event-info">
      <div class="event-header">
        <h4 class="event-date"><%= @event.date %></h4>
        <h2 class="event-title"><%= @event.title %></h2>
      </div>

      <% if @event.photo.key %>
        <%= cl_image_tag @event.photo.key, class: 'event-image' %>
      <% end %>

      <div class="event-description">
        <% @event.user_events.each do |attendance| %>
          <% if attendance.user.profile.photo.key %>
            <%= cl_image_tag attendance.user.profile.photo.key ,class:"avatar" %>
          <% else %>
            <%= image_tag "default-photo.webp",class:"avatar" %>
          <% end %>
        <% end %>
      </div>

  <% if UserEvent.where(event: @event, user: current_user).empty?%>
            <%= link_to "Attend", event_user_events_path(@event), data: {turbo_method: :post, turbo_confirm: "Are ready to parteyyyyyyyyyyyyyy?"} %>
          <% end %>
          <% unless @event.user_events.empty? %>
            <% user_event = UserEvent.find_by(user: current_user, event: @event) %>
            <%= link_to "Cancel attend", user_event_path(user_event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if user_event %>
          <% end %>

        <div class="event-description">
          <textarea rows="6" readonly><%= @event.user_events.count %></textarea>
        </div>
        <div class="actions">
          <% if policy(@event).edit? %>
            <%= link_to "Edit", edit_event_path(@event), class: 'btn btn-primary mt-2' %>
          <% end %>
          <% if policy(@event).destroy? %>
            <%= button_to "Delete", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary mt-2' %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="buttons">
    <%= link_to 'All Events', events_path, class: 'btn btn-primary m-2' %>
    <%= link_to 'Back to the Beach', beach_path(@event.beach), class: 'btn btn-primary m-2' %>
  </div>
</div>
