<div class="container">
  <div class="background-panel-show">
    <% if @event.photo.key %>
      <%= cl_image_tag @event.photo.key, class:"background-panel-image"%>
    <% else %>
      <%= image_tag "surf-friends.png", class:"background-panel-image" %>
    <% end %>

    <div class="foreground-panel">
      <div class="two-column-section">
        <div class="left-content">
          <div class="beach-info">
            <h2><%= @event.title %></h2>
            <p><i class="fa-solid fa-location-dot"></i> <%= @event.beach.address %></p>
            <br>
            <hr>
            <p class="opacity-6"><%= @event.description %></p>
          </div>
        </div>

        <div class="right-content">
          <button class="basic-button">
            <% if UserEvent.where(event: @event, user: current_user).empty?%>
              <%= link_to "Join", event_user_events_path(@event), data: {turbo_method: :post, turbo_confirm: "Do you want to go to this Event?"} %>
            <% end %>
            <% unless @event.user_events.empty? %>
              <% user_event = UserEvent.find_by(user: current_user, event: @event) %>
              <%= link_to "Cancel", user_event_path(user_event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if user_event %>
            <% end %>
            </div>
          </button>

          <% @event.user_events.each do |attendance| %>
            <% if attendance.user.profile.photo.key %>
              <%= cl_image_tag attendance.user.profile.photo.key , class:"avatar" %>
            <% else %>
              <%= image_tag "default-photo.webp", class:"avatar" %>
            <% end %>
          <% end %>

          <p><%= @event.user_events.count %>
            <% if @event.user_events.count == 1 %>
              <%= "person attending" %>
            <% else %>
              <%= "people attending" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
