 <div class="container">
      <div class="event-details">
        <h1>See what's happening:</h1>


        <div class="event-info">
          <h2><%= @event.title %></h2>
          <%= cl_image_tag @event.photo.key %>
          <div class="event-description">
            <textarea rows="6" readonly><%= @event.description %></textarea>
          </div>
          <div class="actions">
            <% if policy(@event).edit? %>
              <%= link_to "Edit", edit_event_path(@event), class: 'btn btn-primary mt-2' %>
            <% end %>
            <%= button_to "Delete", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary mt-2' if policy(@event).destroy? %>
          </div>
          <h4><%= @event.date %></h4>
        </div>
      </div>

      <div class="buttons">
        <%= link_to 'All Events', events_path, class: 'btn btn-primary mt-2' %>
        <%= link_to 'Back to the Beach', beach_path(@event.beach), class: 'btn btn-primary mt-2' %>
      </div>
    </div>
  </body>
</html>


