<div class="text-header-container dashboard-header">Bookmarked
</div>

<div class="container col-3 shadow mx-auto">
  <h2>My Reviews:</h2>
  <hr>
  <% @reviews.each do |review| %>
    <div class=" shadow">
    <h4><%= review.title %></h4>
    <h5><%= review.content %></h5>
    <p><%= review.rating %></p>
    </div>
  <% end %>
</div>

<div class="container col-3 shadow mx-auto ">
  <h2>My events:</h2>
  <hr>
  <% @events.each do |event| %>
  <div class="shadow my-3">
    <h4><%= event.title %></h4>
    <h5><%= event.description %></h5>
    <p><%= event.date%></p>
    </div>
  <% end %>
</div>

<div class="container col-3 shadow mx-auto">
  <h2>My Attendances:</h2>
  <hr>
  <% @attendances.each do |user_event| %>
    <div class=" shadow">
    <%= cl_image_tag user_event.event.photo.key, style: "max-width: 100%; height: auto;" if user_event.event.photo.key %>
    <h4><%= user_event.event.title %></h4>
    <h5><%= user_event.event.beach.name %></h5>
    <p><%= user_event.event.date%></p>
    </div>
  <% end %>
</div>
