<div class="text-header-container dashboard-header">Bookmarked
</div>

<div class="tab">
  <button class="tablinks active navbar-text" onclick="openCity(event, 'Reviews')">Reviews</button>
  <button class="tablinks navbar-text" onclick="openCity(event, 'Events')">Events</button>
  <button class="tablinks navbar-text" onclick="openCity(event, 'Attendances')">Attendances</button>
</div>

<div id="Reviews" class="tabcontent-dashboard active">
  <section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
      </div>

      <div class="row text-center">
      <% @reviews.each do |review| %>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                  <% if review.user.profile.photo.key %>
                    <%= cl_image_tag review.user.profile.photo.key, class: 'avatar' %>
                    <% else %>
                    <%# else put another picture from assets %>
                      <%= image_tag "default-photo.webp", class: "avatar dropdown-toggle", alt: "dropdown menu" , data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
              </div>
              <h5 class="font-weight-bold"><%= review.user.profile.username %></h5>
              <h6 class="font-weight-bold my-3"><strong><%= review.title %></strong></h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <p><% review.rating.times do %>
                      <i class="fa-solid fa-star" style="color: #ffe71e;"></i>
                    <% end %> </p>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i> <%= review.content %>
              </p>
              <p><%= review.created_at.strftime("Created %B %d %Y") %></p>
                  <%# displaying star-reviews %>
              <%= button_to "Remove your Review", review, method: :delete if policy(review).destroy? %>
            </div>
          </div>
      </div>
          <% end %>
    </div>
  </section>
</div>

<div id="Events" class="tabcontent-dashboard">
  <section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
      <div class="row text-center">
        <% @events.each do |event| %>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card mb-1">
              <a href="/events/<%= event.id %>">
                <div class="card-body py-4 mt-2">
                  <div class="d-flex justify-content-center mb-4">
                    <% if event.photo.key %>
                      <%= cl_image_tag event.photo.key, class: 'header-image' %>
                    <% else %>
                      <%# Put another picture from assets %>
                      <%= image_tag "broken-beach.jpg", class: "header-image dropdown-toggle", alt: "dropdown menu", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% end %>
                  </div>
                  <h5 class="font-weight-bold"><%= event.title %></h5>
                  <p class="mb-2 event-card-description">
                    <%= event.description %>
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                      <p class="event-card-date" ><%= event.date.strftime("%B %d %Y") %></p>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

<div id="Attendances" class="tabcontent-dashboard">
  <section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
      <div class="row text-center">
        <% @attendances.each do |user_event| %>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card mb-1">
              <a href="/events/<%= user_event.event.id %>">
                <div class="card-body py-4 mt-2">
                  <div class="d-flex justify-content-center mb-4">
                    <%= cl_image_tag user_event.event.photo.key, class: 'header-image' if user_event.event.photo.key %>
                  </div>
                  <h5 class="font-weight-bold"><%= user_event.event.title %></h5>
                  <p class="mb-2 event-card-description"><%= user_event.event.beach.name %></p>
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                      <p class="event-card-date" ><%= user_event.event.date.strftime("%B %d %Y") %></p>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent-dashboard");
    if (cityName == "Events") {
       document.getElementById("Events").style.display = "block";
       document.getElementById("Reviews").style.display = "none";
    } else {
       document.getElementById("Events").style.display = "none";
       document.getElementById("Reviews").style.display = "block";
    }
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
