<div class="function-welcome">
<h2 class="navbar-text text-center my-5">Surf.Connect.Enjoy</h2>
  <div class="row">
    <div class="column">
      <div class="parent">
        <%= link_to beaches_path do%>
          <%= image_tag "https://images.unsplash.com/photo-1513569143478-b38b2c0ef97f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80",id:"banner-small-1", class:"image banner-small"%>
        <% end %>
        <div class="middle">
          <div class="text">
            <%= link_to "Beaches",beaches_path ,id:"beaches"%>
          </div>
        </div>
      </div>
      <div class="parent">
        <%= link_to dashboard_path do%>
          <%= image_tag "https://images.unsplash.com/photo-1535182463927-440364075d9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80",id:"banner-small-1", class:"image banner-small"%>
        <% end %>
        <div class="middle">
          <div class="text">
            <%= link_to "Dashboard",dashboard_path ,id:"dashboard"%>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="parent">
        <%= link_to dashboard_path do%>
          <%= image_tag "https://images.unsplash.com/photo-1509914398892-963f53e6e2f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80",id:"banner-small-1", class:"image banner-small"%>
        <% end %>
        <div class="middle">
          <div class="text">
            <%= link_to "Profile",dashboard_path ,id:"profile"%>
          </div>
        </div>
      </div>
    </div>

    <div class="parent">
        <%= link_to dashboard_path do%>
          <%= image_tag "https://images.unsplash.com/photo-1454391304352-2bf4678b1a7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80",id:"banner-small-1", class:"image banner-small"%>
        <% end %>
        <div class="middle">
          <div class="text">
            <%= link_to "Gears",dashboard_path ,id:"profile"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



<div class="parent">
  <%= link_to beaches_path do%>
  <%= image_tag "https://images.unsplash.com/photo-1526342122811-2a9c8512023d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80",id:"banner-small-1", class:"image banner-small"%>
  <% end %>
  <div class="middle">
    <div class="text">
      <%= link_to "Beaches",beaches_path ,id:"beaches"%>
    </div>
  </div>
</div>
<div class="parent">
  <%= image_tag "https://images.unsplash.com/photo-1537519646099-335112f03225?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80",id:"banner-small-2", class:"image banner-small"%>
  <div class="middle">
    <div class="text">
      <%= link_to "Gear",root_path ,id:"gear"%>
    </div>
  </div>
</div>
