<section id="home">
  <div class="background-image">
    <div class="hero-text">
      <h1>Wave Share</h1>
      <h3>Connect.Surf.Enjoy</h3>
      <p>Connect to fellow Surfers worldwide and  <br>Share your experiences and Waves with others!</p>
      <div class="searchbar">
      <%= form_tag beaches_path, method: :get do %>
        <%= text_field_tag :search_query, params[:search_query], placeholder: "Find your Dream Beach", class: "form-control" %>
        <%= button_tag type: 'submit', class: 'btn btn__search' do %>
          <%= content_tag(:i, '', class: 'fa fa-search') %>
        <% end %>
      <% end %>
      </div>
  </div>
</section>

<section id="about">
  <div class="left-content">
    <!-- Your content for the left side goes here -->
    <div class="image-card">
    <%= image_tag "WaveShareLogoRounded.png", alt:"about-img" %>
    </div>
  </div>
  <div class="right-content">
      <div>
      <h3>Surfing is more than just a sport... it's a way of life.</h3>
        <br>
        <p class="about-paragraph">
        At WaveShare we want to bring the thrill of the ocean and the joy of riding waves right to your fingertips.
        <br>
        Join existing local communities, build your own, create events or just share any thoughts about your surfing experiences.
        </p>
      </div>
    </div>
</section>

<section id="features">
  <h2>These are our best features!</h2>
  <div class="row justify-content-around my-5">

    <div class="col-lg-3 col-md-5 col-sm-6 card feature-card shadow">
      <%= image_tag "surf-friends.png", class:"feature-img" %>
      <div class="feature-card-details">
        <h3>Build a Community!</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-5 col-sm-6 card feature-card shadow">
      <%= image_tag "beach-card.png", class:"feature-img" %>
      <div class="feature-card-details">
        <h3>Find the Beaches!</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-5 col-sm-6 card feature-card shadow">
      <%= image_tag "surf-like.png", class:"feature-img" %>
      <div class="feature-card-details">
        <h3>Comment your favourites!</h3>
      </div>
    </div>
  </div>
</section>

















<%# Commented out stock images %>
  <% if false %>
  <div class="row-dash justify-content-center">
    <div class="column">
      <div class="parent">
          <%= image_tag "https://images.unsplash.com/photo-1513569143478-b38b2c0ef97f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80", class:"image banner-small"%>
        <div class="middle">
          <div class="text">
            <%= link_to "Beaches",beaches_path ,class:"image-link"%>
          </div>
        </div>
      </div>
      <div class="parent">
          <%= image_tag "https://images.unsplash.com/photo-1535182463927-440364075d9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80", class:"image banner-small"%>
        <div class="middle">
          <div class="text">
            <%= link_to "Dashboard",dashboard_path ,class:"image-link"%>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="parent">
          <%= image_tag "https://images.unsplash.com/photo-1509914398892-963f53e6e2f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80", class:"image banner-small"%>
        <div class="middle">
          <div class="text">
            <%= link_to "Profile",dashboard_path ,class:"image-link"%>
          </div>
        </div>
      </div>
    <div class="parent">
        <%= image_tag "https://images.unsplash.com/photo-1454391304352-2bf4678b1a7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80", class:"image banner-small"%>
      <div class="middle">
        <div class="text">
          <%= link_to "Gears",dashboard_path ,class:"image-link"%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%# Commented out above %>

  <%# <h2 class="primary-text text-center my-5">Surf.Connect.Enjoy</h2> %>
