<p style="color: green"><%= notice %></p>
<div class="beach-index-content">
  <div class="beach-cards">
    <% if @beaches.present? %>
      <% @beaches.each do |beach| %>
        <%= link_to beach_path(beach) do %>
          <div class="beach-card">
          <%# -------------GOOGLE IMAGE API----------- %>
          <%# ---------------------------------------- %>
            <% if false %>
              <% if beach.photo_url.present? %>
                <% photo_reference = beach.photo_url %>
                <% google_maps_api_key = ENV['GOOGLE_MAPS_API_KEY'] %>
                <% image_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=#{photo_reference}&key=#{google_maps_api_key}" %>
                <%= image_tag image_url, class: "card-img-top" %>
              <% else %>
                <%= image_tag "broken-beach.jpg"%>
              <% end %>
            <% end %>
          <%# -------------GOOGLE IMAGE API END----------- %>
          <%# -------------------------------------------- %>
            <%=  image_tag "broken-beach.jpg", class:"card-img-top"%>
            <div class="beach-card-body">
              <% full_address = beach.address %>
              <% address_parts = full_address.split(',').map(&:strip) %>
              <% country = address_parts.last %>
              <h3><%= address_parts.first %></h3>
              <div class="beach-card-location">
                <i class="fa-solid fa-location-dot" style="color: #1c75bc;"></i> </span><%= country %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="map-container">
  <%# Searchbar %>
  <div class="searchbar-index">
    <%= form_tag beaches_path, method: :get do %>
      <%= text_field_tag :search_query, params[:search_query], placeholder: "Find your Dream Beach", class: "form-control" %>
      <%= button_tag type: 'submit', class: 'btn btn__search' do %>
        <%= content_tag(:i, '', class: 'fa fa-search') %>
      <% end %>
    <% end %>
  </div>
  <%# Sticky-Map %>
  <div id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
