<p style="color: green"><%= notice %></p>

<div class="content">
  <div class="cards">
    <% if @beaches.present? %>
      <% @beaches.each do |beach| %>
      <div class="card">
            <% if false %>
              <% if beach.photo_url.present? %>
                <% photo_reference = beach.photo_url %>
                <% google_maps_api_key = ENV['GOOGLE_MAPS_API_KEY'] %>
                <% image_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=#{photo_reference}&key=#{google_maps_api_key}" %>
                <%= image_tag image_url, class: "card-img-top" %>
              <% else %>
                <%= image_tag "broken-beach.jpg"%>
              <% end %>
            <% end %>
            <%=  image_tag "broken-beach.jpg", class:"card-img-top"%>
          <div class="card-body">
            <h3 class="card-text" ><%= beach.address%></h3>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>


  <div id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

  </body>
