<p style="color: green"><%= notice %></p>

<div class="main-container">
  <h1 class="navbar-text">Beaches and meetups near you</h1>
  <div class="map-container">
    <div style="width: 95vw; height: 500px; margin: 0 auto;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <%# searchfield %>

  <div class="searchbar card shadow" >
    <%= form_tag beaches_path, method: :get do %>
      <div class="search-form-control">
        <%= text_field_tag :search_query, params[:search_query], placeholder: "Find your Dream Beach", class: "secondary-text form-control" %>
        <%= submit_tag 'Search', class: "btn navbar-text" %>
      </div>
    <% end %>
  </div>

  <div class="beachcards-container">
    <%# Display of each Beach instance in a card with a photo and a title and address underneath %>
    <% if @beaches.present? %>
      <% @beaches.each do |beach| %>
        <div class="card-holder">
          <%= link_to(beach_path(beach), { class: 'beach-link text-decoration-none'}) do %>
            <div class="beach-image">
              <% if beach.photo_url.present? %>
                <% photo_reference = beach.photo_url %>
                <% google_maps_api_key = ENV['GOOGLE_MAPS_API_KEY'] %>
                <% image_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=#{photo_reference}&key=#{google_maps_api_key}" %>
                <%= image_tag image_url, class: "card-img-top" %>
              <% else %>
                <!-- Placeholder image if photo_url is not available -->
                <%= image_tag "broken-beach.jpg", class: " beach-image" %>
              <% end %>
            </div>
            <div class="beach-icons">
              <div data-controller="beach-weather" data-beach-weather-lat-value=<%=beach.longitude %> data-beach-weather-lon-value=<%=beach.latitude %>>
                <h3 id="shadowed" class="card-text secondary-text"><%= beach.address %></h3>
                <div class="col">
                  <h3 id="shadowed" class="secondary-text d-none" data-beach-weather-target="description"></h3>
                </div>

                <div class="row ">
                  <div class="col">
                    <i class="fa-solid fa-wind" style="color: #ffffff;"></i>
                    <h3 id="shadowed" class="secondary-text" data-beach-weather-target="Windspeed"></h3>
                  </div>
                  <div class="col">
                    <i class="fa-solid fa-temperature-full" style="color: #ffffff;"></i>
                    <h3 id="shadowed" class="secondary-text" data-beach-weather-target="temperature"></h3>
                  </div>
                  <div class="col">
                    <i class="fa-regular fa-compass" style="color: #ffffff;"></i>
                    <h3 id="shadowed"class="secondary-text" data-beach-weather-target="Winddirection"></h3>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
