<h2><%= @beach.name %></h2>
<p><%= @beach.description %></p>
<p><%= @beach.address %></p>
<%= link_to "Review this Beach", new_beach_review_path(@beach) %>

<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p><%= review.content %></p>
  <i><%= review.rating %></i>

<% end %>
