<h2><%= @beach.name %></h2>
<p><%= @beach.description %></p>
<p><%= @beach.address %></p>

<h1>events</h1>
<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p><%= review.content %></p>
  <p><% review.rating.times do %>
  <i class="fa-solid fa-star" style="color: #ffe71e;"></i>
  <% end %></p>
  <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<%= link_to "Review this Beach", new_beach_review_path(@beach) %>

<% @events.each do |event| %>
  <h2><%= event.title %></h2>
  <p><%= event.date %></p>
  <i><%= event.description %></i>
  <%= link_to "Delete", review_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<%= link_to 'New Event', new_beach_event_path(@beach) %>
