<div class="container">
  <div class="background-panel-show">
    <img src="https://images.unsplash.com/photo-1537519646099-335112f03225?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="" class="background-panel-image">
    <%# -------------------FRONT PANEL CODE------------------ %>
    <%# ----------------------------------------------------- %>

    <div class="foreground-panel">
      <div class="two-column-section">
        <div class="left-content">
          <div class="beach-info">
            <h2><%= @beach.name %></h2>
            <p><i class="fa-solid fa-location-dot"></i> <%= @beach.address %></p>
            <br>
            <hr>
            <p class="opacity-6">
              Nestled along the azure coastline, the beach presents a
              captivating panorama that merges sky, sea, and sand in
              harmonious brilliance. As the sun begins its descent,
              casting a warm, golden glow across the horizon, the
              beachscape transforms into an enchanting tableau.

              The soft, powdery sand stretches out like an endless
              canvas, inviting barefoot explorations. Each step
              sinks gently into the welcoming embrace of the shoreline,
              leaving delicate imprints as the water teases with its
              rhythmic lapping.

              Crystal-clear waves roll in with a soothing cadence, t
              heir whispers echoing tales of distant shores. The sea
              breeze carries a salty tang, caressing sun-kissed skin
              and carrying the promise of adventure on its wings.
            </p>
          </div>
        </div>

        <%# ---------------------EVENTS SECTION------------------ %>
        <%# ----------------------------------------------------- %>
        <div class="right-content">
          <div class="events-card">
            <div class="d-flex justify-content-between">
              <h2>Events</h2>
              <%= link_to new_beach_event_path(@beach) do%>
                <h3><i class="fa-solid fa-plus plus-button"></i></h3>
              <% end %>
            </div>
            <br>


            <%# <% upcoming_events = @beach.events.select { |event| event.date >= Date.today }.sort_by(&:date) %>
            <% upcoming_events = @beach.events.sort_by(&:date) %>

            <% if upcoming_events.count > 3 %>
              <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% upcoming_events.each_slice(3).with_index do |events_group, index| %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                      <% events_group.each do |event| %>
                        <div class="event-card">
                          <% if event.photo.key %>
                            <%= cl_image_tag event.photo.key, class: 'event-image-OFF header-image' %>
                          <% else %>
                            <%= image_tag "broken-beach.jpg", class: "event-image-OFF header-image" %>
                          <% end %>
                          <div class="event-card-infos">
                            <h2><%= event.title %></h2>
                            <p id="header-date"><%= event.date.strftime("%B %d %Y") %></p>
                          </div>
                          <div class="join-button-div">
                            <div>
                              <%= link_to "Join", event_user_events_path(event), data: { turbo_method: :post, turbo_confirm: "Do you want to go to this Event?" }, class: "join-button" %>
                              <p><%= event.user_events.count %>
                                <% if event.user_events.count == 1 %>
                                  <%= "person attending" %>
                                <% else %>
                                  <%= "people attending" %>
                                <% end %>
                              </p>
                            </div>
                          </div>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <ol class="carousel-indicators" >
                  <% upcoming_events.each_slice(3).with_index do |_, index| %>
                    <li data-bs-target="#eventCarousel" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" ></li>
                  <% end %>
                </ol>
              </div>
            <% else %>
              <% upcoming_events.each do |event| %>
                <div class="event-card">
                  <% if event.photo.key %>
                    <%= cl_image_tag event.photo.key, class: 'event-image-OFF header-image' %>
                  <% else %>
                    <%= image_tag "broken-beach.jpg", class: "event-image-OFF header-image" %>
                  <% end %>
                  <div class="event-card-infos">
                    <h2><%= event.title %></h2>
                    <p id="header-date"><%= event.date.strftime("%B %d %Y") %></p>
                  </div>
                  <div class="join-button-div">
                    <div>
                      <%= link_to "Join", event_user_events_path(event), data: { turbo_method: :post, turbo_confirm: "Do you want to go to this Event?" }, class: "join-button" %>
                      <p><%= event.user_events.count %>
                        <% if event.user_events.count == 1 %>
                          <%= "person attending" %>
                        <% else %>
                          <%= "people attending" %>
                        <% end %>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%# -------------------END EVENT SECTION------------------ %>
      <%# --------------------------•••------------------------- %>



      <%# -------------------WEATHER SECTION------------------ %>
      <%# ---------------------------------------------------- %>
      <hr>
      <div class="square-container">

        <div class="square">
          <div>
            <%= image_tag "sun.png" %>
            <h6>Sunny</h6>
          </div>
        </div>

        <div class="square">
          <div>
            <%= image_tag "temperature.png" %>
            <h6>30°C</h6>
          </div>
        </div>
        <div class="square">
          <div>
            <%= image_tag "wind.png" %>
            <h6>10km/h</h6>
          </div>
        </div>
        <div class="square">
          <div>
            <%= image_tag "sunset.png" %>
            <h6>19:34</h6>
          </div>
        </div>
        <div class="square">
          <div>
            <%= image_tag "wind-direction.png" %>
            <h6>NW</h6>
          </div>
        </div>
      </div>

      <%# -------------------END WEATHER SECTION---------------- %>
      <%# --------------------------•••------------------------- %>
      <hr>

      <%# ---------------------REVIEWS SECTION------------------ %>
      <%# ------------------------------------------------------ %>
      <div class="two-column-section">
        <div class="row row-cols-2">
          <% if @beach.reviews %>
            <% @beach.reviews.each do |review| %>
              <div class="review-card">
                <div class="review-user-info">
                  <% if review.user.profile.photo.key %>
                    <%= cl_image_tag review.user.profile.photo.key, id:"avatar-reviews"%>
                  <% else %>
                    <%= image_tag "default-photo.webp", id:"avatar-reviews"%>
                  <% end %>
                  <h5><%= review.title %></h5>
                  <p class="opacity-6"><%= review.created_at.strftime("%B %d %Y") %></p>
                  <hr>
                  <p><%= review.content %></p>
                </div>
                <div class="d-flex">
                  <i class="fa-solid fa-star" style="color: #cfc807;"></i><i class="fa-solid fa-star" style="color: #cfc807;"></i><i class="fa-solid fa-star" style="color: #cfc807;"></i><i class="fa-solid fa-star" style="color: #cfc807;"></i>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="review-card">
              <h2>Be the first to write a review!</h2>
            </div>
          <% end %>
        </div>
      </div>
      <%# ---------------------END REVIEWS SECTION------------------ %>
      <%# -----------------------------•••-------------------------- %>
      <hr>
      <%# -----------------------THREADS SECTION-------------------- %>
      <%# ---------------------------------------------------------- %>
      <div class="events-card">
        <h2>Threads..</h2>
        <%= simple_form_for(@message, url: messages_path) do |form| %>
          <%= form.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= form.input :beach_id, as: :hidden, input_html: { value: @beach.id } %>
          <%= form.input :content, as: :text, label: "Add a message...", input_html: { class: "form-control" } %>
          <%= form.button :submit, "Post", class: "join-button" %>
        <% end %>
        <hr>


        <div class="thread">
          <% @messages.each do |message| %>
            <div class="message">

              <!-- ---------------AVATAR-USERNAME ----------------->
              <%# ----------------------------------------------- %>
              <% if message.user.profile.photo.key %>
                <%= cl_image_tag message.user.profile.photo.key, id: "avatar-reviews" %>
              <% else %>
                <%= image_tag "default-photo.webp", id: "avatar-reviews" %>
              <% end %>
              <strong><%= message.user.profile.username %></strong>
              <!-- -------------AVATAR-USERNAME END---------------->
              <%# ----------------------•••---------------------- %>


              <!---------DATE-CONTENT -------->
              <%# -------------------------- %>
              <p class="opacity-6"><%= format_message_date(message.created_at) %></p>
              <%= message.content %>
              <!---------DATE-CONTENT -------->
              <%# -----------•••------------ %>


              <%# -------------LIKE-COMMENT BUTTON---------------- %>
              <%# ------------------------------------------------ %>
              <div class="comments">
                <% if user_signed_in? %>
                  <div class="like-section">
                    <% if current_user.liked?(message) %>
                      <%= link_to 'Unlike', unlike_message_path(message), data: {turbo_method: :post, turbo_confirm: "Do you want to go to this Event?"} %>
                    <% else %>
                      <%= link_to like_message_path(message, like: { message_id: message.id }), data: {turbo_method: :post} do %>
                        <i class="fa-solid fa-heart"></i>
                      <% end %>

                    <% end %>
                    <span class="like-count" id="like-count-<%= message.id %>"><%= message.likes.count %></span>
                  </div>
                <% end %>

                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var likeButtons = document.querySelectorAll(".like-button");

                    likeButtons.forEach(function(button) {
                      button.addEventListener("ajax:success", function(event) {
                        var message_id = event.target.getAttribute("id").split("-")[2];
                        var likeCount = document.getElementById("like-count-" + message_id);
                        likeCount.textContent = parseInt(likeCount.textContent) + 1;
                      });
                    });
                  });
                </script>


                <a class="accordion"><i class="fa-solid fa-comment"></i></a>
              <%# -------------LIKE-COMMENT BUTTON---------------- %>
              <%# ----------------------•••----------------------- %>


                <div class="panel">
                  <!-- Loop through comments for this message -->
                  <% message.comments.each do |comment| %>
                    <div class="comment">


                    <!-- ---------------AVATAR-USERNAME ----------------->
                    <%# ----------------------------------------------- %>
                      <% if comment.user.profile.photo.key %>
                        <%= cl_image_tag comment.user.profile.photo.key, id: "avatar-reviews" %>
                      <% else %>
                        <%= image_tag "default-photo.webp", id: "avatar-reviews" %>
                      <% end %>
                      <strong><%= comment.user.profile.username %></strong>
                      <!-- -------------AVATAR-USERNAME END---------------->
                      <%# ----------------------•••---------------------- %>


                      <!---------DATE-CONTENT -------->
                      <%# -------------------------- %>
                      <p class="opacity-6"><%= format_message_date(comment.created_at) %></p>
                      <%= comment.content %>
                    </div>
                  <% end %>
                      <!-------DATE-CONTENT END------>
                      <%# -----------•••------------ %>


                    <!----------COMMENT FORM -------->
                    <%# --------------------------- %>
                  <%= simple_form_for([message, Comment.new], url: create_comment_message_path(message)) do |form| %>
                    <%= form.input :content, as: :text, label: "Add a comment...", input_html: { class: "form-comments-control" } %>
                    <%= form.button :submit, "Comment", class: "join-button" %>
                  <% end %>
                  <!----------COMMENT FORM -------->
                  <%# --------------------------- %>

                </div>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      <%# -------------------END THREADS SECTION---------------------%>
      <%# --------------------------•••----------------------------- %>
    </div>
  </div>
</div>

<%# ---------JAVASCRIPT COMMENT ACCORDION---------- %>
<%# ----------------------•••---------------------- %>
<script>
  const accordions = document.querySelectorAll('.accordion');

  accordions.forEach(acc => {
    acc.addEventListener('click', () => {
      const commentsContainer = acc.closest('.comments');
      commentsContainer.classList.toggle('active');
    });
  });
</script>
<%# ---------JAVASCRIPT COMMENT ACCORDION END---------- %>
<%# ------------------------•••------------------------ %>
