<h2><%= @beach.name %></h2>
<p><%= @beach.description %></p>
<p><%= @beach.address %></p>


<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p><%= review.content %></p>
  <p><%= review.user.email %></p>
  <%# displaying star-reviews %>
  <p><% review.rating.times do %>
    <i class="fa-solid fa-star" style="color: #ffe71e;"></i>
    <% end %>
  <%= button_to "Destroy this review", review, method: :delete if policy(review).destroy? %>
  <% end %>
<%= link_to "Review this Beach", new_beach_review_path(@beach) %>
<h1>events</h1>
<% @events.each do |event| %>
  <h2><%= link_to event.title, event_path(event) %></h2>
  <p><%= event.date %></p>
  <i><%= event.description %></i>
  <p><%= event.user.email %></p>

  <% if policy(event).edit? %>
  <%= link_to "Edit this event", edit_event_path(event) %> |
  <%= button_to "Destroy this event", event, method: :delete if policy(event).destroy? %>
  <% end %>
<% if UserEvent.where(event: event, user: current_user).empty?%>
  <%= link_to "Attend", event_user_events_path(event), data: {turbo_method: :post, turbo_confirm: "Are ready to parteyyyyyyyyyyyyyy?"} %>
<% end %>
<% unless event.user_events.empty? %>
  <% user_event = UserEvent.find_by(user: current_user, event: event) %>
  <%= link_to "Cancel attend", user_event_path(user_event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if user_event %>
<% end %>
<% end %>
<%= link_to 'New Event', new_beach_event_path(@beach) %>

<div data-controller="beach-weather" data-beach-weather-lat-value=<%=@beach.longitude %> data-beach-weather-lon-value=<%=@beach.latitude %>>
  <div class="weather-info">
  <p data-beach-weather-target="description"></p>
  <p data-beach-weather-target="temperature"></p>
  <p data-beach-weather-target="wind"></p>
  <img data-beach-weather-target="icon" src="" alt="">

  </div>
</div>
