<div class="navbar-home">
    <button class="buttontext">👈</button>
    <button class="floatright buttontext">❤️</button>
    <button class="floatright buttontext">📤</button>
</div>
<div id="wrapper">
    <div id="a" class="panels">
      <div class="function-imagemap">
        <div class="imagemap-button-container">
          <button onclick="hideImage()" class="button">view map</button>
        <script>
          function hideImage() {
            // document.getElementById('hideimage').innerHTML.toggle("");
            document.getElementById("hideimage").classList.toggle("hidden");
          }
        </script>
        </div>
        <div class="header-image-container">
          <div class="header-image" id="hideimage">
            <%= render 'shared/imagemap_image' %>
          </div>
          <div class="imagemap-map">
            map
          </div>
        </div>
        <%# <div class="header-map-container">
          <div class="header-map">map</div>
        </div> %>
      </div>
    </div>
    <div id="b" class="panels">
      <div class="section-header-text">
        <div class="header-text-container">
            <div class="header-title-container">
              <p class="display-1" id="header-title"> <%= @beach.name %>
              </p>
            </div>
            <div class="header-description-container">
              <p class="display-2" id="header-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="header-address-container">
              <p class="display-3" id="header-address"> <%= @beach.address %>
              </p>
            </div>
          <div class="header-text-reviews-container">
            <% total_ratings = 0 %>
            <% if @beach.reviews.present? %>
                <% @beach.reviews.each do |review| %>
                <% total_ratings += review.rating %>
                <% end %>
                <% average_rating = total_ratings.to_f / @beach.reviews.count %>


              <%= average_rating %>
              <p class="fa-solid fa-star" ></p>
               -
              <%= @beach.reviews.count %> Reviews
            <% end %>

            <div>reviews counter/link</div>
          </div>
          <h1>Reviews:</h1>
            <% @reviews.each do |review| %>
              <h2><%= review.title %></h2>
              <p><%= review.content %></p>
              <p><%= review.user.email %></p>
              <%# displaying star-reviews %>
              <p><% review.rating.times do %>
                <i class="fa-solid fa-star" style="color: #ffe71e;"></i>
                <% end %>
              <%= button_to "Destroy this review", review, method: :delete if policy(review).destroy? %>
              <% end %>
            <%= link_to "Review this Beach", new_beach_review_path(@beach), class:"btn btn-outline-primary"%>
        </div>
      </div>
    </div>
</div>
