hello
<h2><%= @beach.name %></h2>
<p><%= @beach.description %></p>
<p><%= @beach.address %></p>
<%= link_to "Review this Beach", new_beach_review_path(@beach) %>

<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <h2><%= review.content %></h2>
<% end %>
