
<div class="container">
<% if @beach.photo_url.present? %>
  <% photo_reference = @beach.photo_url %>
  <% google_maps_api_key = ENV['GOOGLE_MAPS_API_KEY'] %>
  <% image_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=#{photo_reference}&key=#{google_maps_api_key}" %>
  </div>
  <%= image_tag image_url, class: "beach-show" %><div class="container relative">
  <% end %>
  <div class="row">
    <div class="col-8 ">
      <div class="flat-show-card shadow-lg p-3 mb-3 bg-body-tertiary rounded">
        <h2><%= @beach.name %></h2>
        <p><%= @beach.address %></p>
      </div>
      <div class="beach-show-card shadow-lg p-3 mb-3 bg-body-tertiary rounded">
        <h3>A bit more about this beach...</h3>
        <hr>
        <p><%= @beach.description %></p>
        <div class="shadow">
        <h1>Reviews:</h1>
        <% @reviews.each do |review| %>
          <h2><%= review.title %></h2>
          <p><%= review.content %></p>
          <p><%= review.user.email %></p>
          <%# displaying star-reviews %>
          <p><% review.rating.times do %>
            <i class="fa-solid fa-star" style="color: #ffe71e;"></i>
            <% end %>
          <%= button_to "Destroy this review", review, method: :delete if policy(review).destroy? %>
          <% end %>
        <%= link_to "Review this Beach", new_beach_review_path(@beach), class:"btn btn-outline-primary"%>
        <hr>
        <div class="shadow">
        <h1>Events:</h1>
        <% @events.each do |event| %>
          <h2><%= link_to event.title, event_path(event) %></h2>
          <p><%= event.date %></p>
          <i><%= event.description %></i>
          <p><%= event.user.email %></p>

          <% if policy(event).edit? %>
          <%= link_to "Edit this event", edit_event_path(event), class:"btn btn-outline-primary" %> |
          <%= button_to "Destroy this event", event, method: :delete if policy(event).destroy? %>
          <% end %>
        <% if UserEvent.where(event: event, user: current_user).empty?%>
          <%= link_to "Attend", event_user_events_path(event), data: {turbo_method: :post, turbo_confirm: "Are ready to parteyyyyyyyyyyyyyy?"} %>
        <% end %>
        <% unless event.user_events.empty? %>
          <% user_event = UserEvent.find_by(user: current_user, event: event) %>
          <%= link_to "Cancel attend", user_event_path(user_event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if user_event %>
        <% end %>
        <% end %>
        <%= link_to 'New Event', new_beach_event_path(@beach), class:"btn btn-outline-primary"%>
        </div>

        </div>
      </div>
    </div>
    <div id="sticky" class="col-4 py-3 ">

  <div data-controller="beach-weather" data-beach-weather-lat-value=<%=@beach.longitude %> data-beach-weather-lon-value=<%=@beach.latitude %>>
    <div class="card-product">
      <img data-beach-weather-target="icon">
      <div class="card-product-infos">
        <h2>Weather Conditions</h2>
        <p data-beach-weather-target="description"></p>

        <p data-beach-weather-target="temperature" style="display: inline;">
          <i class="fa-solid fa-temperature-low" style="color: #1d2f50;"></i></p>

        <p data-beach-weather-target="Windspeed">
          <i class="fa-shrp fa-solid fa-wind" style="color: #5081d8;"></i></p>

        <p data-beach-weather-target="Winddirection">
          <i class="fa-regular fa-compass" style="color: #5081d8;"></i></i></p>
      </div>
    </div>
  </div>

    </div>
  </div>
</div>
