<!DOCTYPE html>
<html>
  <head>
    <title>WaveShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# review star rating %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# geocoder mapbox %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

<% if controller_name == "beaches" %>
  <body><%= render "shared/navbar_beaches_show" %>
<% elsif controller_name == "events" %>
  <body><%= render "shared/navbar_events_show" %>
<% else %>
  <body><%= render "shared/navbar" %>
<% end %>

<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
